In [1]:
import numpy as np
import load_data
import clean_data
import transform_data
import feature_selection

In [2]:
#Aplicando las funciones de la tarea anterior
datos=load_data.carga_archivo('consumo-agua.csv')
load_data.observaciones_variables(datos)
clean_data.estandariza_variables(datos)
transform_data.tipo_variables(datos)
transform_data.separar_variable(datos,'geo_point','latitud','longitud',',')
transform_data.eliminar_variable(datos,'geo_point')
transform_data.eliminar_variable(datos,'geo_shape')
transform_data.cambiar_tipo_variable(datos,'latitud','float64')
transform_data.cambiar_tipo_variable(datos,'longitud','float64')
transform_data.cambiar_tipo_variable(datos,'bimestre','str')
transform_data.cambiar_tipo_variable(datos,'gid','str')
transform_data.cambiar_minusculas_variable(datos,'colonia')
transform_data.cambiar_minusculas_variable(datos,'alcaldia')
transform_data.cambiar_minusculas_variable(datos,'indice_des')
transform_data.quitar_acentos(datos)

Número de observaciones: 71102 , Número de variables: 17

Antes:

 Index(['Geo Point', 'Geo Shape', 'consumo_total_mixto', 'anio', 'nomgeo',
       'consumo_prom_dom', 'consumo_total_dom', 'alcaldia', 'colonia',
       'consumo_prom_mixto', 'consumo_total', 'consumo_prom',
       'consumo_prom_no_dom', 'bimestre', 'consumo_total_no_dom', 'gid',
       'indice_des'],
      dtype='object')

Ahora:

 Index(['geo_point', 'geo_shape', 'consumo_total_mixto', 'anio', 'nomgeo',
       'consumo_prom_dom', 'consumo_total_dom', 'alcaldia', 'colonia',
       'consumo_prom_mixto', 'consumo_total', 'consumo_prom',
       'consumo_prom_no_dom', 'bimestre', 'consumo_total_no_dom', 'gid',
       'indice_des'],
      dtype='object')

Tipo de variables:
 geo_point                object
geo_shape                object
consumo_total_mixto     float64
anio                      int64
nomgeo                   object
consumo_prom_dom        float64
consumo_total_dom       float64
alcaldia                 object
colonia                  object
consumo_prom_mixto      float64
consumo_total           float64
consumo_prom            float64
consumo_prom_no_dom     float64
bimestre                  int64
consumo_total_no_dom    float64
gid                       int64
indice_des               object
dtype: object

In [3]:
transform_data.eliminar_variable(datos,'nomgeo') #dado que se ocupara alcaldía
transform_data.eliminar_variable(datos,'gid') #dado que es una llave
transform_data.eliminar_variable(datos,'anio') #dado que todo es 2019 y no tiene variacion
transform_data.eliminar_variable(datos,'colonia') #dado que en su lugar se ocupará alcaldía
columna_mover = ['consumo_total']
nuevo_orden = np.hstack((datos.columns.difference(columna_mover), columna_mover))
datos_nuevo_orden = datos.reindex(columns=nuevo_orden)
datos_nuevo_orden.head()

,alcaldia,bimestre,consumo_prom,consumo_prom_dom,consumo_prom_mixto,consumo_prom_no_dom,consumo_total_dom,consumo_total_mixto,consumo_total_no_dom,indice_des,latitud,longitud,consumo_total
0,azcapotzalco,1,54.184211,41.430000,51.181668,133.34,455.73,307.09,266.68,bajo,19.498292,-99.199044,1029.50
1,azcapotzalco,1,40.836923,61.337142,15.945000,18.87,429.36,63.78,37.74,bajo,19.498891,-99.200908,530.88
2,azcapotzalco,1,25.814737,24.724412,64.905003,5.26,840.63,129.81,10.52,medio,19.480811,-99.208768,980.96
3,azcapotzalco,1,27.365357,22.798462,142.199997,31.27,592.76,142.20,31.27,bajo,19.481578,-99.203462,766.23
4,azcapotzalco,1,36.458182,37.390334,35.690000,10.03,1121.71,71.38,10.03,bajo,19.479410,-99.202769,1203.12

In [4]:
#Prueba de la función chi_squared
feature_selection.chi_squared(datos_nuevo_orden,'consumo_total',0.05)

                               0
0        alcaldia_alvaro obregon
1         alcaldia_benito juarez
2              alcaldia_coyoacan
3            alcaldia_cuajimalpa
4            alcaldia_cuauhtemoc
5     alcaldia_gustavo a. madero
6             alcaldia_iztacalco
7            alcaldia_iztapalapa
8   alcaldia_magdalena contreras
9        alcaldia_miguel hidalgo
10           alcaldia_milpa alta
11              alcaldia_tlahuac
12              alcaldia_tlalpan
13  alcaldia_venustiano carranza
14           alcaldia_xochimilco
15                    bimestre_1
16                    bimestre_2
17                    bimestre_3
18               indice_des_alto
19               indice_des_bajo
20              indice_des_medio
21            indice_des_popular

In [5]:
x = datos_nuevo_orden.iloc[:, :-1]
y = datos_nuevo_orden.iloc[:, -1].values
x.head()

,alcaldia,bimestre,consumo_prom,consumo_prom_dom,consumo_prom_mixto,consumo_prom_no_dom,consumo_total_dom,consumo_total_mixto,consumo_total_no_dom,indice_des,latitud,longitud
0,azcapotzalco,1,54.184211,41.430000,51.181668,133.34,455.73,307.09,266.68,bajo,19.498292,-99.199044
1,azcapotzalco,1,40.836923,61.337142,15.945000,18.87,429.36,63.78,37.74,bajo,19.498891,-99.200908
2,azcapotzalco,1,25.814737,24.724412,64.905003,5.26,840.63,129.81,10.52,medio,19.480811,-99.208768
3,azcapotzalco,1,27.365357,22.798462,142.199997,31.27,592.76,142.20,31.27,bajo,19.481578,-99.203462
4,azcapotzalco,1,36.458182,37.390334,35.690000,10.03,1121.71,71.38,10.03,bajo,19.479410,-99.202769

In [6]:
y

array([1029.5 ,  530.88,  980.96, ..., 2234.79, 2157.81, 2027.27])

In [7]:
#Prueba de la función backward_selection
feature_selection.backward_selection(x,y,0.05)

                               0
0                     intercepto
1                   consumo_prom
2             consumo_prom_mixto
3            consumo_prom_no_dom
4              consumo_total_dom
5            consumo_total_mixto
6           consumo_total_no_dom
7                        latitud
8                       longitud
9        alcaldia_alvaro obregon
10         alcaldia_azcapotzalco
11        alcaldia_benito juarez
12             alcaldia_coyoacan
13           alcaldia_cuajimalpa
14           alcaldia_cuauhtemoc
15    alcaldia_gustavo a. madero
16            alcaldia_iztacalco
17           alcaldia_iztapalapa
18       alcaldia_miguel hidalgo
19           alcaldia_milpa alta
20              alcaldia_tlahuac
21  alcaldia_venustiano carranza
22           alcaldia_xochimilco
23                    bimestre_1
24                    bimestre_2
25                    bimestre_3
26               indice_des_alto
27               indice_des_bajo
28              indice_des_medio
29            indice_des_popular